@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body{
    background-image: url('../public/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo-position{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    top: 10px;
}
.logo{
    font-size: 50px;
    color: #FE4880;
}
.player {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 50px;
    width: 414px;
    height: 100%;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.player > h4 {
  text-align: center;
  font-size: 24px;
}
.song-img {
    position: relative;
    margin: 0 auto;
    width: fit-content;
  }
  .song-img img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0,0,0,0.3);
    margin: 20px 0;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .song-details{
      text-align: center;
      margin-bottom: 30px;
  }
  .song-details h2{
      font-size: 24px;
      font-weight: 600;
      color: #313131;
      margin-bottom: 5px;
  }
  .song-details h3{
      font-size: 16px;
      font-weight: 500;
      color: #888;
  }
  .player-controls{
      display: flex;
      justify-content: center;
      align-items: 30px;
      margin-bottom: 30px;
  }
  .player-controls .play-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 75px;
      border-radius: 60%;
      background-color: #FE4880;
      color: #FFF;
      margin: 0 30px;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;
      box-shadow: 0 6px 12px rgba(254, 72, 128, 0.6);
      transition: 0.4s;
  }
  .player-controls .play-btn:hover{
    box-shadow: 0 8px 16px rgba(254, 72, 128, 0.6);
  }

  .player-controls .skip-btn{
      background: none;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer; 
      color: #020202;
      transition: 0.4s;
  }
  .player-controls .skip-btn:hover{
      color: #888;
  }
  .next-up p {
    color: #888;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 414px) {
    body{
        overflow:hidden;
    }
    .player {
        min-height: 100vh;
        border-radius: 0px;
        padding: 5px 30px;
    }
}